nav {
  background-color: #ffffff;
  font-size: 2em;
  text-align: center;
  padding: .5em;
}
body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EB8787; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}
